{% load staticfiles %}
{% load gravatar %}

<nav id="main-nav" class="main-nav navbar-expand-md float-right" role="navigation">                
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>      
  <div class="navbar-collapse collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="nav-item sr-only"><a class="nav-link" href="#promo">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
      <li class="nav-item"><a class="nav-link" href="https://vsoch.github.io/freegenes">User Guide</a></li>
      <li class="nav-item last"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
      {% if request.user.is_authenticated %}<li class="nav-item dropdown">
        <a class="nav-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
        <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="{% url 'profile' %}">Settings</a>
        <a class="dropdown-item" href="{% url 'token' %}">Token</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
      </div>
    </li>{% else %}<li class="nav-item"> <a class="nav-link" href="{% url 'login' %}">Login</a></li>{% endif %}
    </ul>
  </div>
</nav>
