{% extends "base/page.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container wow fadeIn" style="padding-top:150px">
     {% include "messages/message.html" %}
      <h2 class="my-5 h2 text-center">Create Shipment</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <h2 id="upload">Create Shipment</h2>
          <button class="btn btn-secondary" id="load-button" style="display:none; margin-bottom:20px;">Load Addresses</button>
          <form action="{% url 'create_shipment' order.uuid %}" enctype="multipart/form-data" method="POST">
	    {% csrf_token %}
	    {{ form|crispy }}
	    <button type="submit" class="btn btn-primary">Submit</button>
	  </form>
        </div>

        <div class="col-md-4 mb-4">
          {% include "orders/order_snippet.html" with order_title="Order Details" %}
        </div>

      </div>

    </div>
  </main>

{% endblock content %}

{% block pagescripts %}
<script>

// If the browser supports local storage, give user option to load from it
$( document ).ready(function() {
    if (localStorage.getItem('shipping_to') != null){
        $('#load-button').show();
    }
});

// Load previous values for form

$("#load-button").click(function() {
  if(typeof Storage !== "undefined") {
      $("input[name='shipping_to']").val(localStorage.getItem('shipping_to'));
      $("input[name='shipping_address']").val(localStorage.getItem('shipping_address'));
      $("input[name='shipping_zip']").val(localStorage.getItem('shipping_zip'));
      $("input[name='shipping_address2']").val(localStorage.getItem('shipping_address2'));   
      $("input[name='shipping_phone']").val(localStorage.getItem('shipping_phone'));   

      $("input[name='from_name']").val(localStorage.getItem('from_name'));
      $("input[name='from_address']").val(localStorage.getItem('from_address'));
      $("input[name='from_zip']").val(localStorage.getItem('from_zip'));

      $("input[name='parcel_length']").val(localStorage.getItem('parcel_length'));
      $("input[name='parcel_width']").val(localStorage.getItem('parcel_width'));
      $("input[name='parcel_height']").val(localStorage.getItem('parcel_height'));
      $("input[name='parcel_weight']").val(localStorage.getItem('parcel_weight'));

  } else {
     console.log("Browser does not support local storage of fields.")
  }
})


// On submit, save values to local storage

$("form").submit(function(event) {

  console.log("Form submit for {{ order.uuid }}")
  if(typeof Storage !== "undefined") {

      localStorage.setItem('parcel_length', $("input[name='parcel_length']").val());
      localStorage.setItem('parcel_width', $("input[name='parcel_width']").val());
      localStorage.setItem('parcel_height', $("input[name='parcel_height']").val());
      localStorage.setItem('parcel_weight', $("input[name='parcel_weight']").val());

      localStorage.setItem('shipping_to', $("input[name='shipping_to']").val());
      localStorage.setItem('shipping_address', $("input[name='shipping_address']").val());
      localStorage.setItem('shipping_zip', $("input[name='shipping_zip']").val());
      localStorage.setItem('shipping_address2', $("input[name='shipping_address2']").val());
      localStorage.setItem('shipping_phone', $("input[name='shipping_phone']").val());
   
      localStorage.setItem('from_name', $("input[name='from_name']").val());
      localStorage.setItem('from_address', $("input[name='from_address']").val());
      localStorage.setItem('from_zip', $("input[name='from_zip']").val());
  } else {
     console.log("Browser does not support local storage of fields.")
  }

});

</script>
{% endblock pagescripts %}
