                <table class="table table-bordered" id="{{ table_id }}" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Notes</th>
                            <th>orderributions</th>
                        </tr>
                    </thead>
                    <tbody>{% for order in orders %}
                        <tr>
                            <td><a href="{{ order.get_absolute_url }}">{{ order.name }}</a></td>
                            <td>{{ order.notes | truncatechars:100 }}</td>
                            <td>{% for dist in order.distributions.all %}<a href="{{ dist.get_absolute_url }}">{{ dist.name }}</a>{% endfor %}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
