                <table class="table table-bordered" id="{{ table_id }}" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Tracking</th>
                            <th>Date Ordered</th>
                            <th>Date Shipped</th>
                            <th>MTA</th>
                            <th>Notes</th>
                            <th>Distributions</th>
                        </tr>
                    </thead>
                    <tbody>{% for order in orders %}{% if order.status != "Cart" %}
                        <tr>
                            <td><a href="{{ order.get_absolute_url }}">{{ order.name }}</a></td>
                            <td>{{ order.status }}<br>({{ order.summary_status }})
                                {% if request.user == order.user and order.status == "Shipped" %}<br><a href="{% url 'mark_as_received' order.uuid %}">Mark Received</a>{% endif %}
                            </td>
                            <td>{% if order.transaction.tracking_status %}{% if order.transaction.tracking_url_provider %}<a href="{{ order.transaction.tracking_url_provider }}" target="_blank">{{ order.transaction.tracking_status }}</a>{% endif %}{% endif %}</td>
                            <td>{{ order.date_ordered | date:'Y-m-d' }}</td>
                            <td>{% if order.date_shipped %}{{ order.date_shipped | date:'Y-m-d' }}{% else %}
{% if request.user.is_staff or request.user.is_superuser %}{% if order.status == "Waiting to Ship" %}<a href="{% url 'mark_as_shipped' order.uuid %}"><button class="btn btn-secondary btn-sm">Mark Shipped</button></a>{% endif %}{% if order.status != "Rejected" %}<a href="{% url 'mark_as_rejected' order.uuid %}"><button class="btn btn-secondary btn-sm">Reject</button></a>{% endif %}{% endif %}{% endif %}</td>
                            <td>{% if order.material_transfer_agreement %}Yes{% else %}No{% endif %}</td>
                            <td>{{ order.notes }}</td>
                            <td>{% for dist in order.distributions.all %}<a href="{{ dist.get_absolute_url }}">{{ dist.name }}</a>{% endfor %}</td>
                        </tr>{% endif %}{% endfor %}
                    </tbody>
                </table>
