                <table class="table table-bordered" id="{{ table_id }}" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Date Ordered</th>
                            <th>Date Shipped</th>
                            <th>Signed MTA</th>
                            <th>Notes</th>
                            <th>Distributions</th>
                        </tr>
                    </thead>
                    <tbody>{% for order in orders %}{% if order.ordered or order.received %}
                        <tr>
                            <td><a href="{{ order.get_absolute_url }}">{{ order.name }}</a></td>
                            <td>{% if order.received %}Complete{% else %}Processing{% endif %}</td>
                            <td>{{ order.date_ordered | date:'Y-m-d' }}</td>
                            <td>{{ order.date_shipped | date:'Y-m-d' }}</td>
                            <td>{% if order.material_transfer_agreement %}Yes{% else %}No{% endif %}</td>
                            <td>{{ order.notes }}</td>
                            <td>{% for dist in order.distributions.all %}<a href="{{ dist.get_absolute_url }}">{{ dist.name }}</a>{% endfor %}</td>
                        </tr>{% endif %}{% endfor %}
                    </tbody>
                </table>
