{% extends "base/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static "home/css/bootstrap.min.css"%}">
<link rel="stylesheet" href="{% static "home/css/prism.css"%}">
<link rel="stylesheet" href="{% static "home/css/style.css"%}">
{% endblock %}
{% block content %}
    <header id="header" class="header">  
        <div class="container">   
            <h1 class="logo float-left">
                <a href="{% url 'index' %}"><span class="logo-title">{{ NODE_NAME }}</span></a>
            </h1> 
            {% include "base/navigation.html" %}            
        </div>
    </header>

    <section id="intro" class="intro section offset-header">
        <div class="container text-center">
            <form method="GET" action="{% url 'search' %}">
                <h2 class="title"><span class="highlight">{{ NODE_NAME }}</span></h2>
                <p class="intro">What are you looking for?
                <div class="searchbar">
                    <input class="search_input" type="text" name="q" placeholder="Search Parts. Leave blank to search all items.">
                    <a href="#" type="submit"></a>
                </div></p>
               <div class="custom-control custom-checkbox">
                   <input name="availableParts" type="checkbox" class="custom-control-input" id="availableParts" checked hidden>
               </div>
            </form>
        </div>
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item github-star">
<a class="github-button" href="https://github.com/xriley/devaid-theme" data-icon="octicon-star" aria-label="Star xriley/devaid-theme on GitHub">Star</a></li>
                    <li class="list-inline-item github-follow"><!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/xriley" aria-label="Follow @xriley on GitHub">Follow @xriley</a></li>                   
                </ul>
            </div>
        </div>
    </section>
 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is {{ NODE_NAME }}?</h2>
            <div class="row">
                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="icon-holder">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Collaborative</h3>
                        <p>Tell us what useful DNA sequences should be developed for an open biotechnology commons.</p>
                    </div>
                </div>
                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Open Source</h3>
                        <p>We will learn and discover faster by sharing our resources. Tell us what you need, and we'll make it available to you!</p>
                    </div>
                </div>
                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="icon-holder">
                        <i class="fas fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Governance</h3>
                        <p>Materials are made available under the <a href="https://biobricks.org/openmta/">OpenMTA</a> so everyone can develop applications that benefit all people and the planet.</p>
                    </div>
                </div>
                <div class="clearfix visible-md"></div>
                <p class="text-center learn-more"><a class="btn btn-fg-primary" href="{% url 'about' %}">Learn More</a>
                  <a class="btn btn-fg-primary" href="{% url 'catalog_view' %}">Browse {{ NODE_NAME }}</a></p>
            </div> 

        </div>
    </section><!--End of about-->
        
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <div class="info text-center">
                    <ul class="social-icons list-inline">
                        <li class="list-inline-item"><a href="https://twitter.com/biobricks" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/vsoch/freegenes/" target="_blank"><i class="fab fa-github"></i></a></li> 
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container text-center">
        </div>
    </footer>
{% endblock %}
{% block scripts %}
    <script src="{% static "home/js/jquery-3.3.1.min.js"%}"></script>
    <script src="{% static "home/js/jquery.easing.1.3.js"%}"></script>
    <script src="{% static "home/js/bootstrap.min.js"%}"></script>
    <script src="{% static "home/js/jquery.scrollTo.min.js"%}"></script>
    <script src="{% static "home/js/prism.js"%}"></script>
    <script src="{% static "home/js/main.js"%}"></script>
{% endblock %}
