{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}

<div class="container" style='padding-top:200px'>
  <div class="row">
    <div class="col-md-12" style="padding-bottom:50px">
      <h1>FreeGenes Catalog</h1>
      <p>Here you can explore FreeGenes by Category</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 style="margin-top:10px; margin-bottom:30px; color:#28a745">Virtuals</h2>
      <a href="{% url 'collections_catalog' %}"><h4>Collections</h4></a>
      <p>A collection is a grouping of protocols, plates, samples, and wells. You might be interested to browse here to look over logical groupings of these items.
      <hr>
      <a href="{% url 'distributions_catalog' %}"><h4>Distributions</h4></a>
      <p>A distribution you can choose to order.
      <hr>
      <a href="{% url 'organisms_catalog' %}"><h4>Organisms</h4></a>
      <p>Organisms that are studied in the lab.
      <hr>
      <a href="{% url 'parts_catalog' %}"><h4>Parts</h4></a>
      <p>Parts are genetic elements. A part may be created from other parts, or synthesized from scratch.
      <hr>
      <a href="{% url 'tags_catalog' %}"><h4>Tags</h4></a>
      <p>Tags are helpful terms to describe authors, organisms, collections, and parts.
      <hr>
      {% if request.user.is_staff or request.user.is_superuser %}<h2 style="margin-top:100px; margin-bottom:30px; color:#28a745">Physicals</h2>
      <a href="{% url 'containers_catalog' %}"><h4>Containers</h4></a>
      <p>A container represents a physical object in the lab.
      <hr>
      <a href="{% url 'plates_catalog' %}"><h4>Plates</h4></a>
      <p>Explore plates in FreeGenes
      <hr>
      <a href="{% url 'platesets_catalog' %}"><h4>PlateSets</h4></a>
      <p>PlateSets make up distributions.
      <hr>
      <a href="{% url 'samples_catalog' %}"><h4>Samples</h4></a>
      <p>Samples Catalog.
      <hr>{% endif %}
      </div>
  </div>
</div>
{% endblock %}
