{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}
<div class="container" style='padding-top:200px'>
  {% include "messages/message.html" %}
  <div class="row">
    <div class="col-md-12" style="padding-bottom:50px">
      <h1>{{ NODE_NAME }} Catalog</h1>
      <p>Here you can explore {{ NODE_NAME }} by Category</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 style="margin-top:10px; margin-bottom:30px; color:#28a745">Virtuals</h2>
      <a href="{% url 'collections_catalog' %}"><h4>Collections</h4></a>
      <p>A collection is a group of parts.
      <hr>
      <a href="{% url 'distributions_catalog' %}"><h4>Distributions</h4></a>
      <p> A group of related parts, corresponding to a plate of genetic elements that you can order. The parts may represent an entire collection, or a subset of one.
      <hr>
      <a href="{% url 'organisms_catalog' %}"><h4>Organisms</h4></a>
      <p>Organisms that are studied in the lab.
      <hr>
      <a href="{% url 'parts_catalog' %}"><h4>Parts</h4></a>
      <p>Genetic elements are gene sequences that do things. A part is the information about a genetic element that we offer or would like to offer in the future.
      <hr>
      <a href="{% url 'tags_catalog' %}"><h4>Tags</h4></a>
      <p>Tags are helpful terms to describe authors, organisms, collections, and parts.
      <hr>
      {% if request.user.is_staff or request.user.is_superuser %}<h2 style="margin-top:100px; margin-bottom:30px; color:#28a745">Physicals</h2>
      <a href="{% url 'containers_catalog' %}"><h4>Containers</h4></a>
      <p>A container represents a physical object in the lab.
      <hr>
      <a href="{% url 'plates_catalog' %}"><h4>Plates</h4></a>
      <p>Explore plates in {{ NODE_NAME }}
      <hr>
      <a href="{% url 'platesets_catalog' %}"><h4>PlateSets</h4></a>
      <p>PlateSets make up distributions.
      <hr>
      <a href="{% url 'samples_catalog' %}"><h4>Samples</h4></a>
      <p>Samples Catalog.
      <hr>{% endif %}
      </div>
  </div>
</div>
{% endblock %}
