{% extends "base/page.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container wow fadeIn" style="padding-top:150px">
      <h2 class="my-5 h2 text-center">Checkout Order</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
            <form method="POST" class="card-body">
              {% csrf_token %}

              <div class="mta_form">
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <input type='text' id='recipient_name' name='recipient_name' class='form-control' />
                    <label for="recipient_name" class="">Name of Recipient Scientist</label>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4">
                    <input type='text' id='recipient_title' name='recipient_title' class='form-control' />
                    <label for="recipient_name" class="">Title of Recipient Scientist</label>
                    </div>
                  </div>
                </div>              
          
              <div class='lab_form'>

                <div class="md-form mb-5">
                  <input type='text' id='lab_name' name='lab_name' class='form-control' />
                  <label for="lab_name" class="">Name of Lab</label>
                </div>

                <div class="md-form mb-5">
                  <input type='text' id='lab_address' name='lab_address' class='form-control' />
                  <label for="lab_address" class="">Address</label>
                </div>

                <div class="md-form mb-5">
                  <input type='text' id='lab_address2' name='lab_address2' class='form-control' />
                  <label for="lab_address2" class="">Address 2 (optional)</label>
                </div>

                <div class="md-form mb-5">
                  <input type='text' id='lab_address2' name='lab_address2' class='form-control' />
                  <label for="lab_address2" class="">Address 2 (optional)</label>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="lab_zip">Zip</label>
                    <input type='text' id='lab_zip' name='lab_zip' class='form-control' />
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="same_shipping_address" id="same_shipping_address">
                      <label class="custom-control-label" for="same_shipping_address">Shipping address is the same as my lab address</label>
                    </div>
                  </div>
                </div>

              <div class='hideable_shipping_form'>

              <hr>

              <h3>Shipping address</h3>

                <div class="md-form mb-5">
                  <input type='text' id='shipping_to' name='shipping_to' class='form-control' />
                  <label for="shipping_to" class="">Shipping Recipient</label>
                </div>

                <div class="md-form mb-5">
                  <input type='text' id='shipping_address' name='shipping_address' class='form-control' />
                  <label for="shipping_address" class="">Address</label>
                </div>

                <div class="md-form mb-5">
                  <input type='text' id='shipping_address2' name='shipping_address2' class='form-control' />
                  <label for="shipping_address2" class="">Address 2 (optional)</label>
                </div>

                <div class="md-form mb-5">
                    <label for="shipping_zip">Zip</label>
                    <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' class='form-control' />
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                </div>
               
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>

        </div>

        <div class="col-md-4 mb-4">
          {% include "orders/order_snippet.html" %}
        </div>

      </div>

    </div>
  </main>

{% endblock content %}

{% block pagescripts %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');

var use_same_shipping = document.querySelector("input[name=same_shipping_address]");

use_same_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})
</script>
{% endblock pagescripts %}
