<p>
    <center><strong></p>
<h1>The Open Material Transfer Agreement</h1>
<p></strong></center>
</p>
<p>
    <center><strong>For the Transfer of Biological Materials</strong></center>
    <br />
    <br /> This Open Material Transfer Agreement (the “OpenMTA”) and the attached Implementing Letter (the “Implementing Letter” and, together with the OpenMTA, the “Agreement”) is entered into between the Provider and the Recipient (or the “Parties”, as further identified in the Implementing Letter) and governs the exchange and use of the certain materials specified in this Agreement between the Parties. The provisions of this OpenMTA shall be given precedence in interpretation in the event of any conflict between this OpenMTA and the Implementing Letter.
    <br />
    <br />
    <center>I. DEFINITIONS:</center>
</p>
<ol>
    <li style="margin-left: 10px;"><strong>Provider:</strong> Organization providing the Original Material. The name and address of this party will be specified in an implementing letter.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Provider Scientist:</strong> The name and address of this party will be specified in an implementing letter.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Recipient:</strong> Organization receiving the Original Material. The name and address of this party will be specified in an implementing letter.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Recipient Scientist:</strong> The name and address of this party will be specified in an implementing letter.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Original Material:</strong> The description of the Material being transferred will be specified in an implementing letter.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Material:</strong> Original Material, Progeny, and Unmodified Derivatives. The Material shall not include: (a) Modifications, or (b) other substances created by the Recipient through the use of the Material, which are not Modifications, Progeny, or Unmodified Derivatives.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Progeny:</strong> Unmodified descendant from the Material, such as virus from virus, cell from cell, or organism from organism.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Unmodified Derivatives:</strong> Substances created by the Recipient which constitute an unmodified functional subunit or product expressed by the Original Material. Some examples include: subclones of unmodified cell lines, purified or fractionated subsets of the Original Material, proteins expressed by DNA/RNA supplied by Provider, or monoclonal antibodies secreted by a hybridoma cell line.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Modifications:</strong> Substances created by the Recipient which contain/incorporate the Material.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Commercial Purposes:</strong> The sale, lease, license, or other transfer of the Materials or Modifications to a for-profit organization. Commercial Purposes shall also include uses of the Material or Modifications by any organization, including Recipient, to perform contract research, to produce or manufacture products for general sale, or to conduct research activities that result in any sale, lease, license, or transfer of the Material or Modifications to a for-profit organization.</li>
    <p>
</ol>
<p>
    <center>II. TERMS AND CONDITIONS OF THIS AGREEMENT:</center>
    <br /> The Provider is making the Material available as a service to the research community. The Recipient may use the Material for any lawful purpose, including Commercial Purposes, in accordance with the following terms and conditions:</p>
<ol>
    </p>
    <li style="margin-left: 10px;"><strong>Use:</strong> The Recipient shall use, store, and dispose of the Material and any Modifications in accordance with good laboratory practice and shall ensure compliance with all applicable laws, rules, and regulations, including laws, rules, and regulations governing export control and safety.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Attribution:</strong> The Recipient agrees to provide appropriate acknowledgement of the source of the Material as requested by the Provider. Any request for attribution will be specified in an implementing letter.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Distribution:</strong> The Recipient may distribute the Material and substances created by the Recipient through use of the Material, including Progeny, Unmodified Derivatives, and Modifications, without requesting consent from the Provider. Recipient agrees to notify the Provider of any distributions of the Material to third parties as requested by the Provider. Any request for notification will be specified in an implementing letter.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Fees:</strong> The Material is provided at no cost, or with an optional transmittal fee solely to reimburse the Provider for its preparation and distribution costs. If a fee is requested, the amount will be specified in an implementing letter.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>No Implied License:</strong> Except for the rights expressly granted herein, the Recipient agrees that no other rights or licenses, whether express or implied, are granted to the Recipient under any patent, patent application, or other proprietary right of the Provider. As between the parties, each retains all right, title, and interest in works and inventions made by its personnel, and nothing herein shall be construed to transfer ownership of any invention, patent, patent application, or other proprietary right.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>Liability:</strong> Except to the extent prohibited by law, the Recipient assumes all liability for damages that may arise from the use, storage or disposal of the Material. The Provider will not be liable to the Recipient for any loss, claim or demand made by the Recipient, or made against the Recipient by any other party, due to or arising from the use of the Material by the Recipient, except to the extent permitted by law when caused by the gross negligence or willful misconduct of the Provider.</li>
    <p></p>
    <li style="margin-left: 10px;"><strong>No Warranties:</strong> Any Material delivered pursuant to the Agreement is understood to be experimental in nature and may have hazardous properties. THE PROVIDER MAKES NO REPRESENTATIONS AND EXTENDS NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED. THERE ARE NO EXPRESS OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THAT THE USE OF THE MATERIAL WILL NOT INFRINGE ANY PATENT, COPYRIGHT, TRADEMARK, OR OTHER PROPRIETARY RIGHTS.</li>
    <p>
</ol>
</div>
</div>
<div id="openmta">
<div>
    <div>
        <p>
            <center><strong>Template of OpenMTA Implementing Letter</strong></center>
        </p>
        <p>
            The purpose of this letter is to provide a record of the material transfer, to memorialize the agreement between the Provider Scientist (identified below) and the Recipient Scientist (identified below) to abide by all terms and conditions of the Open Material Transfer Agreement (“OpenMTA”), and to certify that their respective organizations have accepted and signed an unmodified copy of the OpenMTA. The Authorized Officials of the Provider and Recipient organizations must sign this letter if the Provider Scientist or Recipient Scientist are not authorized to certify on behalf of their respective organizations.
            <br />
            <br /> The Recipient Authorized Signatory should sign two copies of this letter and forward to the Provider. The Provider Authorized Signatory should sign both copies of the letter and return one signed copy to the Recipient. The Provider Scientist will then forward the material to the Recipient Scientist.
            <br />
        </p>

    </div>
</div>
<div>

    <div>
        <style>
            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
        <table style="width:100%">
            <tbody>
                <tr>
                    <th>Provider <span style="font-weight:normal;">(Organization providing Original Material)</span></th>
                    <th>Recipient <span style="font-weight:normal;">(Organization receiving Original Material)</span></th>
                </tr>
                <tr>
                    <td>Name:
                        <br/> Address:
                        </p>
                        <p>
                    </td>
                    <td>Name:<input style="width:100%" type="text" placeholder="Organization Name Here" required>
                        <br /> Address: <input style="width:100%" type="text" placeholder="Organization Address Here" required>
                        </p>
                        <p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p></p>
        <table style="width:100%">
            <tbody>
                <tr>
                    <th>Provider Scientist</th>
                    <th>Recipient Scientist</th>
                </tr>
                <tr>
                    <td>Name:
                        <br/> Title:
                    </td>
                    <td>Name:<input style="width:100%" type="text" placeholder="Recipient Name Here" required>
                        <br/> Title:<input style="width:100%" type="text" placeholder="Recipient Title Here" required>
                    </td>
                </tr>
            </tbody>
        </table>
        <p></p>
        <table style="width:100%">
            <tbody>
                <tr>
                    <th>Additional Information</th>
                    <th>Shipping Address</th>
                </tr>
                <tr>
                    <td><input style="width:100%" type="textbox">
                    </td>
                    <td>Name:
                        <br /> Address:
                        </p>
                        <p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p></p>
        <table style="width:100%">
            <tbody>
                <tr>
                    <th>Original Material <span style="font-weight:normal;">(description of the material being transferred, including any identifiers)</span></th>
                </tr>
                <tr>
                    <td>Description:<p>
                        {% for dist in order.distributions.all %}<strong>{{ dist.name }}: </strong> {{ dist.description }}<br>{% endfor %}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>

    <div><br>
        <p>If checked, the following optional terms apply to this Agreement:
            <br />
            [ ] A transmittal fee of _________________ shall be paid by Recipient to Provider, for preparation and distribution costs.
            <br />
            <br />
            [ ] Recipient agrees to provide appropriate acknowledgement of the source of the Material in all publications.
            <br />
            <br />
            [ ] Recipient agrees to notify the Provider upon redistribution of the Material to third parties.
            <br />
            <br />
            [ ] Information relevant to the status of the Material is provided in an attachment.
            <br />
        </p>
    </div>
</div>
<!-- .et_pb_text -->
<div>

    <div>
        <p>This Implementing Letter is effective when signed by all parties. The parties executing this Implementing Letter certify that their respective organizations have accepted and signed an unmodified copy of the OpenMTA, and further agree to be bound by its terms, for the transfer specified above.
            <br />
            <br />
            <strong>Provider Authorized Signatory</strong>
            <br /> I hereby certify that the Provider organization has accepted and signed an unmodified copy of the OpenMTA, and further agree to be bound by its terms, for the transfer specified above (May be the Provider Scientist if authorized by the Provider organization):</p>
        <p></p>
        <hr> Signature
        <br />
        </p>
        <hr> Print Name
        <br />
        </p>
        <hr> Title
        <br />
        </p>
        <hr> Date
        </p>
        <p>
            <strong>Recipient Authorized Signatory</strong>
            <br /> I hereby certify that the Recipient organization has accepted and signed an unmodified copy of the OpenMTA, and further agree to be bound by its terms, for the transfer specified above (May be the Recipient Scientist if authorized by the Recipient organization):</p>
        <p></p>
        <hr> Signature
        <br />
        </p>
        <hr> Print Name <input style="width:100%" type="text" placeholder="Print Name Here" required>
        <br />
        </p>
        <hr> Title <input style="width:100%" type="text" placeholder="Print Title Here" required>
        <br />
        </p>
        <hr> Date <input style="width:100%" type="text" placeholder="Date Here" required>
        </p>
</div>
