{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}
<style>
.logo-title {
  color: #074f66;
}
</style>

<div class="container" style='padding-top:200px'>
  {% include "messages/message.html" %}
  <div class="row">
    <div class="col-md-12" style="padding-bottom:20px">
       <h1>Twist Orders</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if orders %}
           {% include "tables/twist_orders.html" %}{% else %}
<p class="alert alert-info">You don't have any Twist orders, or your credentials were not found to look them up.</a>{% endif %}
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
{% endblock %}
{% block pagescripts %}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
  {% if orders %}$("#orders-table").DataTable();{% endif %}
});
{% endblock %}
