{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}

<style>
#spinner { display: none; position: relative; }
</style>
<div class="container" style='padding-top:200px'>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" onkeypress="handle_enter(event)" 
                       style="height: 46px; margin-top: 6px;"
                       id="q" class="form-control" placeholder="Search Items" />
                 <button type="submit" id="searchSubmit" class="btn btn-primary">
                 <i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
               <div class="custom-control custom-checkbox">
                   <input name="availableParts" type="checkbox" class="custom-control-input" id="availableParts" checked>
                   <label class="custom-control-label" for="availableParts">Available Physical Items</label>
                   {% if request.user.is_superuser or request.user.is_staff %}<a style="float:right; margin-right:100px" href="{% url 'detailed_search' %}">Search all {{ NODE_NAME }}</a>{% endif %}
               </div>
          </div>
        </div>
    <div class="row" style="padding-top:10px">
      <div class="col-md-12">
        {% if request.user.is_anonymous %}<p class="alert alert-warning">You must be logged in to order any materials.</p>{% endif %}
        <div class="margin">
        <span id="spinner"><img src="http://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif"/></span>
        <div id="results">{% include "search/parts_result.html" %}</div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    function handle_enter(e) {
        if(e.key === "Enter"){
            $('#searchSubmit').click();
        }
    }; 
$(document).ready( function() {
    $('#searchSubmit').click(function() {
        q = $('#q').val();
        available = $("#availableParts").prop("checked");
        console.log(q)
        if (q == "") {
            $('#results').html('&nbsp;').load('{% url "running_search" %}?q=all&availableParts=' + available);
        } else {
            $('#results').html('&nbsp;').load('{% url "running_search" %}?q=' + q + "&availableParts=" + available);
        }
    });
});
 
// Control spinner
$(document).ajaxStart(function() {
    $('#spinner').show();

}).ajaxStop( function() {
    $('#spinner').hide();
});
</script>
{% endblock %}
