{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}
<div class="container" style='padding-top:200px'>
  {% include "messages/message.html" %}
  <div class="row">
    <div class="col-md-12" style="padding-bottom:20px">
      <h1>{{ instance.get_label | title }}: {{ instance.name }}</h1>
      <h4>
    </div>
  </div>
  <div class="row" style="margin-bottom:20px">
      <div class="col-md-12">{% if request.user.is_superuser or request.user.is_staff %}<a href="{% url 'admin:main_distribution_change' instance.uuid %}"><button class="btn btn-primary">Edit</button></a>{% endif %}
<a href="{% url 'download_distribution_csv' instance.uuid %}"><button class="btn btn-primary">Download (csv)</button></a>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <table class="table table-bordered" id="{{ instance.get_label }}-table" width="100%" cellspacing="0"><thead>
      <tr>
       <th>Key</th>
       <th>Value</th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td>Name</td><td>{{ instance.name }}</td>
        </tr>
        <tr>
          <td>Description</td><td>{{ instance.description }}</td>
        </tr>
        <tr>
          <td>PlateSets</td><td>{% for plateset in instance.platesets.all %}<a href="{{ plateset.get_absolute_url }}">{{ plateset.name }} </a>{% endfor %}</td>
        </tr>
        <tr>
          <td>Updated At</td><td>{{ instance.time_updated }}</td>
        </tr>
        <tr>
          <td>Created At</td><td>{{ instance.time_created }}</td>
        </tr>
    </tbody>
   </table>
    </div>
  </div>
</div>
{% endblock %}
{% block pagescripts %}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
  $('#{{ instance.get_label }}-table').DataTable();
});
</script>
{% endblock %}
