{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}

<div class="container" style='padding-top:200px'>
  <div class="row">
    <div class="col-md-12" style="padding-bottom:20px">
      <h1>{{ instance.get_label | title }}: {% if instance.name %}{{ instance.name }}{% else %}{{ instance }}{% endif %}</h1>
      <h4>
    </div>
  </div>{% if request.user.is_superuser or request.user.is_staff %}
  <div class="row" style="margin-bottom:20px">
      <div class="col-md-12"><a href="{% url 'admin:main_organism_change' instance.uuid %}">
          <button class="btn btn-primary">Edit</button></a>
      </div>
  </div>{% endif %}
  <div class="row">
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="{{ instance.get_label }}-table" width="100%" cellspacing="0"><thead>
      <tr>
       <th>Key</th>
       <th>Value</th>
      </tr>
    </thead>
      <tbody>
      {% for field in instance.json %}{% if field.value %}<tr>
        {% if field.admin %}{% if request.user.is_superuser %}<td>{{ field.key }}</td><td>{{ field.value }}</td>{% endif %}{% elif field.auth %}{% if request.user.is_authenticated %}<td>{{ field.key }}</td><td>{{ field.value }}</td>{% endif %}{% else %}<td>{{ field.key }}</td><td>{{ field.value }}</td>{% endif %}
      </tr>{% endif %}{% endfor %}
      <tr><td>Tags</td><td>{% for tag in instance.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a> {% endfor %}</td></tr>
    </tbody>
   </table>
  </div>
</div>
{% endblock %}
{% block pagescripts %}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
  $('#{{ instance.get_label }}-table').DataTable();
});
</script>
{% endblock %}
