{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}

<style>
.tab-pane {
  padding-top:30px;
}
</style>

<div class="container" style='padding-top:200px'>
  {% include "messages/message.html" %}
  <div class="row">
    <div class="col-md-12" style="padding-bottom:20px">
      <h1>{{ instance.get_label | title }}: {{ instance.name }}</h1>
      <h4>
    </div>
  </div>{% if request.user.is_superuser or request.user.is_staff %}
  <div class="row" style="margin-bottom:20px">
      <div class="col-md-12"><a href="{% url 'admin:main_part_change' instance.uuid %}">
          <button class="btn btn-primary">Edit</button></a>
      </div>
  </div>{% endif %}
  <div class="row">
    <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">Details</a>
                {% if instance.sample_set.count > 0 %}<a class="nav-item nav-link" id="nav-samples-tab" data-toggle="tab" href="#nav-samples" role="tab" aria-controls="nav-samples" aria-selected="false">Samples</a>{% endif %}
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
	    <table class="table table-bordered" id="details-table" width="100%" cellspacing="0"><thead>
	      <tr>
	       <th>Key</th>
	       <th>Value</th>
	      </tr>
	    </thead>
	      <tbody>
		<tr><td>Name</td><td>{{ instance.name }}</td></tr>
		<tr><td>Description</td><td>{{ instance.description }}</td></tr>
		{% if instance.author %}<tr><td>Author</td><td>{{ instance.author.name }}</td></tr>{% endif %}
		{% if instance.get_distribution %}{% with instance.get_distribution as dist %}<tr><td>Distribution</td><td>Get the Part via: <a href="{{ dist.get_absolute_url }}">{{ dist.name }}{% endwith %}</a></td></tr>{% endif %}
		<tr><td>Gene ID</td><td>{{ instance.gene_id }}</td></tr>
		<tr><td>Part Type</td><td>{{ instance.part_type }}</td></tr>
	        <tr><td>Tags</td><td>{% for tag in instance.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a> {% endfor %}</td></tr>
                {% if instance.optimized_sequence %}<tr><td>Optimized Sequence</td><td>{{ instance.optimized_sequence }}</td></tr>{% endif %}
	    </tbody>
	   </table>
            </div>
            {% if instance.sample_set.count > 0 %}<div class="tab-pane fade" id="nav-samples" role="tabpanel" aria-labelledby="nav-samples-tab">
               {% include "tables/sample_table.html" with samples=instance.sample_set.all table_id="samples_table" %}
            </div>{% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block pagescripts %}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
  {% if instance.sample_set.count > 0 %}$('#samples-table').DataTable();{% endif %}
});
</script>
{% endblock %}
