{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}

<style>
.tab-pane {
  padding-top:30px;
}
</style>

<div class="container" style='padding-top:200px'>
  <div class="row">
    <div class="col-md-12" style="padding-bottom:20px">
      <h1>{{ instance.get_label | title }}: {{ instance.name }}</h1>
      <h4>
    </div>
  </div>
  <div class="row" style="margin-bottom:20px">
      <div class="col-md-12"><a href="{% url 'admin:main_collection_change' instance.uuid %}">
          {% if request.user.is_superuser or request.user.is_staff %}<button class="btn btn-primary">Edit</button></a>
              <a href="{% url 'lab_map' %}?uuid={{ instance.uuid }}"><button class="btn btn-primary">Locate</button></a>{% endif %}
           <a href="{% url 'download_plate_csv' instance.uuid %}"><button class="btn btn-primary">Download (csv)</button></a>
      </div>
  </div>
  <div class="row" style="margin-bottom:20px">
      <div class="col-md-12">{% for container in instance.breadcrumb %}<a style="font-weight:600" href="{% url 'container_details' container.uuid %}">{{ container.name }}</a>{% if forloop.last %}{% else %} > {% endif %}{% endfor %}
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">Details</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
	    <table class="table table-bordered" id="{{ instance.get_label }}-table" width="100%" cellspacing="0"><thead>
	      <tr>
	       <th>Key</th>
	       <th>Value</th>
	      </tr>
	    </thead>
	      <tbody>{% for field in instance.json %}{% if field.value %}<tr>
        {% if field.admin %}{% if request.user.is_superuser %}<td>{{ field.key }}</td><td>{{ field.value }}</td>{% endif %}{% elif field.auth %}{% if request.user.is_authenticated %}<td>{{ field.key }}</td><td>{{ field.value }}</td>{% endif %}{% else %}<td>{{ field.key }}</td><td>{{ field.value }}</td>{% endif %}
      </tr>{% endif %}{% endfor %}
      {% if instance.container %}<tr><td>Container</td><td><a href="{{ instance.container.get_absolute_url }}">{{ instance.container.name }}</a></td></tr>{% endif %}
      {% if instance.protocol %}<tr><td>Protocol</td><td><a href="{{ instance.protocol.get_absolute_url }}">{{ instance.protocol.name }}</a></td></tr>{% endif %}
	    </tbody>
	   </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block pagescripts %}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
  $('#details-table').DataTable();
  {% if instance.plates.count > 0 %}$('#parts-table').DataTable();{% endif %}
});
</script>
{% endblock %}
