{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}
<style>
.logo-title {
  color: #074f66;
}
</style>

<div class="container" style='padding-top:200px'>
  {% include "messages/message.html" %}
  <div class="row">
    <div class="col-md-12" style="padding-bottom:20px">
       <h1>Incoming</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">{% if not twist_client %}
      <h2>Twist</h2>
      <div class="list-group">
         <a class="list-group-item list-group-item-action" href="{% url 'twist_orders' %}">Review Orders</a>
      </div>
    </div>{% endif %}
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
{% endblock %}
{% block pagescripts %}
{% endblock %}
